:root{
    --background-color : #FDF4DC;
    --text : #000000;
}




body{
    background-color: var(--background-color);
    font-family: ClashDisplay-Regular, serif;
}

*::-webkit-scrollbar{
    display: none;
}

*{
    scrollbar-width: none;
}